<div class="container" style="background-color: #fff ;">
<div class="formulari" style="background-color: #fff;">
    <div class="formulari_title ">
      <h3><%= app_title(session[:lan]) %></h3>
    </div>

    <div class="formulari_s_title">
    <%= plea(session[:lan]) %>
    </div>
</div>

<div class="container style="background-color: "#fff;">
<div id="form_app">
<%= render 'form' %>



</div>
</div>
<br>
<br>
</div>
